
<div class="scrollable">
  <div class="scrollable-content">
    <div ng-controller="TableCtrl">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <br />
          <br />
          <br />
          <div ng-repeat="job in travis.repos" is-open="open">
            <div class="panel-heading {{job.state}}">
              <h4 class="panel-title">
                <i class="status"></i>
                <a ng-href="https://github.com/{{job.repository_slug}}" target="_blank">{{job.repository_slug.split('/')[1]}}</a> {{job.number}}
                <a href="/new" toggle target="collapse{{$index}}"><i class="fa fa-chevron-down "></i></a>
                <a ng-click="select(job)" href="#" ><i class="fa fa-chevron-right pull-right"></i></a>
              </h4>
            </div>
            <div id="collapse{{$index}}" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse" >
              <div class="panel-body">
                <li class="row">
                 <span>{{job.state}}</span>
                 <span><a ng-href="https://travis-ci.org/{{job.repository_slug}}" target="_blank">{{job.number}}</a></span>
                 <span>{{job.duration}}</span>
                 <span>{{job.finished_at}}</span>
               </li>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
