New Project
<input type="text" ng-model="project.repo" />
<input type="text" ng-model="project.name" />
	<h1>
		<a ng-href="https://github.com/{{project.repo}}/{{project.name}}">
			{{project.name}}
		</a>
	</h1>
	<p>


		<a ng-href="https://travis-ci.org/{{project.repo}}/{{project.name}}">
			<img ng-src="https://travis-ci.org/{{project.repo}}/{{project.name}}.svg?branch=master" style="max-width:100%;">
		</a>
		<a ng-href="https://coveralls.io/r/{{project.repo}}/{{project.name}}?branch=master">
			<img ng-src="https://img.shields.io/coveralls/{{project.repo}}/{{project.name}}.svg" style="max-width:100%;">
		</a>
		<a ng-href="https://david-dm.org/{{project.repo}}/{{project.name}}">
			<img ng-src="https://david-dm.org/{{project.repo}}/{{project.name}}.png" style="max-width:100%;">
		</a>
		<a ng-show="project.deployment.type=='heroku'" ng-href="https://{{project.deployment.app||project.name}}.herokuapp.com">
			<img src="http://heroku-badge.heroku.com/?app={{project.deployment.app||project.name}}" alt="heroku failed" style="max-width:100%;">
		</a>
	</p>
	<div>
		<p>
			MarkDown
		</p>
		<pre>
##{{project.name}}

[![Build Status](https://travis-ci.org/{{project.repo}}/{{project.name}}.svg?branch=master)](https://travis-ci.org/{{project.repo}}/{{project.name}})
[![Coverage Status](https://img.shields.io/coveralls/{{project.repo}}/{{project.name}}.svg)](https://coveralls.io/r/{{project.repo}}/{{project.name}}?branch=master)
[![Dependencies](https://david-dm.org/{{project.repo}}/{{project.name}}.png)](https://david-dm.org/{{project.repo}}/{{project.name}})
[![Heroku](http://heroku-badge.heroku.com/?app={{project.deployment.app||project.name}})](https://{{project.deployment.app||project.name}}.herokuapp.com)
		</pre>
	</div>
	<div>
		<p>
			Heroku
		</p>
		<pre>
heroku create {{project.name}}
		</pre>
	</div>
	<div>
		<p>
			Travis Ci
		</p>
		<pre>
travis encrypt $(heroku auth:token) --add deploy.api_key
		</pre>
	</div>
	<div>
		<p>
			Github
		</p>
		<pre>
git init
git add .
git commit -am "first commit"
git remote add origin git@github.com:{{project.repo}}/{{project.name}].git
git push -u origin master
		</pre>
	</div>
