
<<div class="scrollable">
  <div class="scrollable-content">
<div ng-controller="TableCtrl">
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
  <br />
  <br />
  <br />
   <!--<span class="btn btn-default" id="accordion" ng-click="open=!open">Toggle groups</span>-->
  	<div ng-repeat="project in travis.repos" is-open="open">
    <div class="panel-heading {{project.last_build_state}}">
      <h4 class="panel-title">
          <i class="status"></i>
	  <a ng-href="https://github.com/{{project.slug}}" target="_blank">{{project.slug.split('/')[1]}}</a>
          <a href="/new" toggle target="collapse{{$index}}"><i class="fa fa-chevron-down "></i></a>
           <a ng-click="select(project)" href="#" ><i class="fa fa-chevron-right pull-right"></i></a>
      </h4>
    </div>
    <div id="collapse{{$index}}" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse" >
      <div class="panel-body">
		<li class="row">
			<span>{{project.last_build_state}}</span>
			<span><a ng-href="https://travis-ci.org/{{project.slug}}" target="_blank">{{project.last_build_number}}</a></span>
			<span>{{project.last_build_duration}}</span>
			<span>{{project.last_build_finished_at}}</span>
		</li>
		<a ng-href="https://coveralls.io/r/{{project.slug}}?branch=master" target="_blank">
			<img ng-src="https://coveralls.io/repos/{{project.slug}}/badge.png?branch=master&{{rand}}" style="max-width:100%;" />
		</a>
		<a ng-href="https://david-dm.org/{{project.slug}}" target="_blank">
			<img ng-src="https://david-dm.org/{{project.slug}}.png?{{rand}}" style="max-width:100%;" />
		</a>
		<a ng-href="https://sourcegraph.com/github.com/{{project.slug}}" target="_blank">
		        <img ng-src="https://sourcegraph.com/api/repos/github.com/{{project.slug}}/badges/status.png?{{rand}}" alt="status" />
		</a>
		<a ng-show="checkHeroku(project)" ng-href="https://{{project.slug.split('/')[1]}}.herokuapp.com" target="_blank">
			<img ng-src="http://heroku-badge.heroku.com/?app={{project.slug.split('/')[1]}}&{{rand}}" alt="heroku" style="max-width:100%;" />
		</a>
		<a ng-href="https://gitter.im/{{project.slug}}" target="_blank">
			<img ng-src="https://badges.gitter.im/{{project.slug}}.png?{{rand}}" alt="gitter" style="max-width:100%;" />
		</a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<!--
<div ng-repeat="travi in travis">
	{{project.description}}
	<p>
		<button ng-click="builds(travi)">builds</button>
		{{project.builds}}
	</p>
	<p>
		<button ng-click="readme(travi)">readme</button>
		<pre>		
{{project.readme}}
		</pre>
	</p>
	<p>
		<button ng-click="travisyml(travi)">travis.yml</button>
		<pre>
{{project.travisyml}}
		</pre>
	</p>
	<p>
		<button ng-click="commits(travi)">commits</button>
		<div ng-repeat="commit in project.commits">
			{{commit.commit.message}} 			{{commit.commit.author.date}} 
		</div>
	</p>
</div>-->
</div>
</div>
