
<<div class="scrollable">
  <div class="scrollable-content">
<div ng-controller="TableCtrl">
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
  <br />
  <br />
  <br />
   <span class="btn btn-default" id="accordion" ng-click="open=!open">Toggle groups</span>
  	<div ng-repeat="travi in travis" is-open="open">
    <div class="panel-heading">
      <h4 class="panel-title">
          <a ng-href="https://github.com/{{travi.slug}}" target="_blank">{{travi.slug.split('/')[1]}}</a>
          <a href="/new" toggle target="collapse{{$index}}"><i class="fa fa-chevron-down"></i></a>
           <a ng-click="select(travi)" href="#" ><i ng-clicke="select(travi)" class="fa fa-chevron-right pull-right"></i></a>
      </h4>
    </div>
    <div id="collapse{{$index}}" toggleable active-class="in" exclusion-group="accordion1" class="panel-collapse collapse" >
      <div class="panel-body">
        <a ng-href="https://travis-ci.org/{{travi.slug}}" target="_blank">
			<img ng-src="https://travis-ci.org/{{travi.slug}}.svg?branch=master&{{rand}}" style="max-width:100%;" />
		</a>
		<a ng-href="https://coveralls.io/r/{{travi.slug}}?branch=master" target="_blank">
			<img ng-src="https://coveralls.io/repos/{{travi.slug}}/badge.png?branch=master&{{rand}}" style="max-width:100%;" />
		</a>
		<a ng-href="https://david-dm.org/{{travi.slug}}" target="_blank">
			<img ng-src="https://david-dm.org/{{travi.slug}}.png?{{rand}}" style="max-width:100%;" />
		</a>
		<a ng-href="https://sourcegraph.com/github.com/{{travi.slug}}" target="_blank">
		        <img ng-src="https://sourcegraph.com/api/repos/github.com/{{travi.slug}}/badges/status.png?{{rand}}" alt="status" />
		</a>
		<a ng-show="checkHeroku(travi)" ng-href="https://{{travi.slug.split('/')[1]}}.herokuapp.com" target="_blank">
			<img ng-src="http://heroku-badge.heroku.com/?app={{travi.slug.split('/')[1]}}&{{rand}}" alt="heroku" style="max-width:100%;" />
		</a>
		<a ng-href="https://gitter.im/{{travi.slug}}" target="_blank">
			<img ng-src="https://badges.gitter.im/{{travi.slug}}.png?{{rand}}" alt="gitter" style="max-width:100%;" />
		</a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<!--
<div ng-repeat="travi in travis">
	{{travi.description}}
	<p>
		<button ng-click="builds(travi)">builds</button>
		{{travi.builds}}
	</p>
	<p>
		<button ng-click="readme(travi)">readme</button>
		<pre>		
{{travi.readme}}
		</pre>
	</p>
	<p>
		<button ng-click="travisyml(travi)">travis.yml</button>
		<pre>
{{travi.travisyml}}
		</pre>
	</p>
	<p>
		<button ng-click="commits(travi)">commits</button>
		<div ng-repeat="commit in travi.commits">
			{{commit.commit.message}} 			{{commit.commit.author.date}} 
		</div>
	</p>
</div>-->
</div>
</div>