
<div content-for="navbarAction">
   <div class="btn btn-navbar">
          <i class="fa fa-cog"></i> <a class="btn-group-item" href="/travis">Overview
          </a>
        </div>
</div>
<<div class="scrollable">
  <div class="scrollable-content">

  <div bs-panel title="Settings">
  {{rand}}
  <switch ng-change="activateReload(config.reloadActivated)" bs-form-control label="Refresh" ng-model="config.reloadActivated" label-class="col-xs-3 col-sm-2 col-lg-1"></switch>
  <switch ng-change="activateSubcribe(config.jobmonitoring)" bs-form-control label="Job Push" ng-model="config.jobmonitoring" label-class="col-xs-3 col-sm-2 col-lg-1"></switch>
  <input bs-form-control label="Interval (milis)" type="text" ng-model="config.interval" />
  <input bs-form-control label="Github Repo" type="text" ng-model="config.repo" />
</div>
</div>
